<html>
<head>
<title>activity_main_sign_up.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main_sign_up.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
</span><span class="s0">&lt;ScrollView </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/activity_main_sign_up&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.whitebirdtechnology.treepr.Sign_Up.MainActivitySignUp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
</span><span class="s0">&lt;RelativeLayout 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;510dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s0"> 
    </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s0">&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;TextView 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Register with Treepr&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:textSize=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
        /&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;RelativeLayout 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;30dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;60dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/border_sign_up&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;EditText 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Your Email Address&quot;</span><span class="s0"> 
            </span><span class="s1">android:inputType=</span><span class="s2">&quot;textEmailAddress&quot;</span><span class="s0"> 
 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/editTextEmailInputSignUp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;EditText 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Set Password&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/editTextEmailInputSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/editTextPasswordInputSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:inputType=</span><span class="s2">&quot;textPassword&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;EditText 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/editTextConfirmPasswordInputSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/editTextPasswordInputSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Confirm Password&quot;</span><span class="s0"> 
            </span><span class="s1">android:inputType=</span><span class="s2">&quot;textPassword&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;EditText 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:inputType=</span><span class="s2">&quot;textPersonName&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/editTextConfirmPasswordInputSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Your Full Name&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/editTextFullNameSignUp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;EditText 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/editTextFullNameSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Mobile Number   (in case of Emergency)&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/editTextMobileNumberSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:inputType=</span><span class="s2">&quot;number&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;AutoCompleteTextView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/editTextMobileNumberSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/autoCompleteTextViewCityNameSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Your City&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;RadioButton 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/autoCompleteTextViewCityNameSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:shadowColor=</span><span class="s2">&quot;@color/colorPrimary&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Male&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:checked=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/radioButtonMaleSignUp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;RadioButton 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/autoCompleteTextViewCityNameSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:shadowColor=</span><span class="s2">&quot;@color/colorPrimary&quot;</span><span class="s0"> 
            </span><span class="s1">android:hint=</span><span class="s2">&quot;Female&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:checked=</span><span class="s2">&quot;false&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentRight=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/radioButtonFemaleSignUp&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;ProgressBar 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/progressBarSignUp&quot;</span><span class="s0"> 
            </span><span class="s1">style=</span><span class="s2">&quot;?android:attr/progressBarStyleLarge&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_centerVertical=</span><span class="s2">&quot;true&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;Button 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;200dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/buttonCreateAccountSignUp&quot;</span><span class="s0"> 
        </span><span class="s1">android:background=</span><span class="s2">&quot;@color/colorPrimary&quot;</span><span class="s0"> 
        </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/white&quot;</span><span class="s0"> 
        </span><span class="s1">android:text=</span><span class="s2">&quot;Create Account&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/ScrollView&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>