<html>
<head>
<title>activity_main_log_in_sign_up.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main_log_in_sign_up.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;ScrollView </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/background_of_login_signup&quot;</span><span class="s0"> 
    </span><span class="s1">tools:context=</span><span class="s2">&quot;com.whitebirdtechnology.treepr.Launcher_screen.MainActivityLogInSignUp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
</span><span class="s0">&lt;FrameLayout 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0">&gt;</span><span class="s3"> 
   </span><span class="s0">&lt;RelativeLayout 
       </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
       </span><span class="s1">android:layout_height=</span><span class="s2">&quot;570dp&quot;</span><span class="s0"> 
       </span><span class="s1">tools:ignore=</span><span class="s2">&quot;UselessParent&quot;</span><span class="s0">&gt;</span><span class="s3"> 
       </span><span class="s0">&lt;Button 
           </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:text=</span><span class="s2">&quot;Skip&quot;</span><span class="s0"> 
           </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/white&quot;</span><span class="s0"> 
           </span><span class="s1">android:background=</span><span class="s2">&quot;#00000000&quot;</span><span class="s0"> 
           </span><span class="s1">android:textSize=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
           </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/buttonSkipFirstScreen&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_alignParentRight=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">tools:ignore=</span><span class="s2">&quot;HardcodedText,RtlHardcoded,SpUsage&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
       </span><span class="s0">&lt;TextView 
           </span><span class="s1">android:layout_width=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:gravity=</span><span class="s2">&quot;center|top&quot;</span><span class="s0"> 
           </span><span class="s1">android:text=</span><span class="s2">&quot;Treepr&quot;</span><span class="s0"> 
           </span><span class="s1">android:textSize=</span><span class="s2">&quot;70dp&quot;</span><span class="s0"> 
           </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/treepr_logo&quot;</span><span class="s0"> 
           </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textViewTreeprTitleName&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_alignParentTop=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;125dp&quot;</span><span class="s0"> 
           </span><span class="s1">tools:ignore=</span><span class="s2">&quot;HardcodedText,SpUsage&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
       </span><span class="s0">&lt;Button 
           </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@android:style/TextAppearance.DeviceDefault.Large.Inverse&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_width=</span><span class="s2">&quot;200dp&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/oval_shap_button&quot;</span><span class="s0"> 
           </span><span class="s1">android:text=</span><span class="s2">&quot;Sign Up&quot;</span><span class="s0"> 
           </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/buttonSignUpFirstPage&quot;</span><span class="s0"> 
           </span><span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/sign_up_button_backgrnd&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;93dp&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_alignParentBottom=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">tools:ignore=</span><span class="s2">&quot;HardcodedText,UnusedAttribute&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
       </span><span class="s0">&lt;Button 
           </span><span class="s1">android:layout_width=</span><span class="s2">&quot;200dp&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
           </span><span class="s1">android:text=</span><span class="s2">&quot;Sign In&quot;</span><span class="s0"> 
           </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/oval_shap_button&quot;</span><span class="s0"> 
           </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/button_signInFirstPage&quot;</span><span class="s0"> 
           </span><span class="s1">android:textAppearance=</span><span class="s2">&quot;@android:style/TextAppearance.DeviceDefault.Large.Inverse&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_above=</span><span class="s2">&quot;@+id/buttonSignUpFirstPage&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_centerHorizontal=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
           </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;47dp&quot;</span><span class="s0"> 
           </span><span class="s1">tools:ignore=</span><span class="s2">&quot;HardcodedText&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
   </span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/FrameLayout&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/ScrollView&gt;</span><span class="s3"> 
</span></pre>
</body>
</html>