<html>
<head>
<title>all_layout_items.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(106,135,89); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
all_layout_items.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:card_view=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
    </span><span class="s1">xmlns:tools=</span><span class="s2">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/linearLayoutAllFragment&quot;</span><span class="s0"> 
    </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;10dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;android.support.v7.widget.CardView 
        </span><span class="s1">xmlns:card_view=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
        </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/card_view_All_title&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:elevation=</span><span class="s2">&quot;98dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;80dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
        </span><span class="s1">card_view:cardCornerRadius=</span><span class="s2">&quot;4dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;LinearLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0"> 
            </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/border_sign_up&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textViewAllTitleName&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center|left&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:textSize=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/black&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Tiger Spot&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center|left&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textViewAllLocation&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Lonavala&quot;</span><span class="s0"> 
            </span><span class="s1">android:textSize=</span><span class="s2">&quot;16dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableLeft=</span><span class="s2">&quot;@drawable/placeholder&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawablePadding=</span><span class="s2">&quot;10dp&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/LinearLayout&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/android.support.v7.widget.CardView&gt;</span><span class="s3"> 
</span><span class="s0">&lt;android.support.v7.widget.CardView 
</span><span class="s1">xmlns:card_view=</span><span class="s2">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s0"> 
</span><span class="s1">android:id=</span><span class="s2">&quot;@+id/card_view_All_image&quot;</span><span class="s0"> 
</span><span class="s1">android:layout_gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
</span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s1">android:elevation=</span><span class="s2">&quot;98dp&quot;</span><span class="s0"> 
</span><span class="s1">android:layout_height=</span><span class="s2">&quot;342dp&quot;</span><span class="s0"> 
 
    </span><span class="s1">android:layout_marginBottom=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
    </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;2dp&quot;</span><span class="s0"> 
</span><span class="s1">card_view:cardCornerRadius=</span><span class="s2">&quot;4dp&quot;</span><span class="s0"> 
    </span><span class="s1">card_view:cardElevation=</span><span class="s2">&quot;4dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
 
    </span><span class="s0">&lt;RelativeLayout 
        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;344dp&quot;</span><span class="s0"> 
        </span><span class="s1">android:orientation=</span><span class="s2">&quot;vertical&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;ImageView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;226dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/imageViewAll&quot;</span><span class="s0"> 
            </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/sejour_en_famille_en_guadeloupe_villa_small_px&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/ImageView&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;TextView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingBottom=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/black&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/textViewAllInfo&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;Best spot to Visit in Rainy season have mountain view and all etc stuff buffb&quot;</span><span class="s0"> 
            </span><span class="s1">android:textSize=</span><span class="s2">&quot;15dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/imageViewAll&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingRight=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingTop=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:lineSpacingExtra=</span><span class="s2">&quot;5dp&quot;</span><span class="s0"> 
            /&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;RelativeLayout 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s1">android:orientation=</span><span class="s2">&quot;horizontal&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_below=</span><span class="s2">&quot;@+id/textViewAllInfo&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/relativeLayout&quot;</span><span class="s0">&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;Button 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;175dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s1">android:background=</span><span class="s2">&quot;@color/transparent&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableLeft=</span><span class="s2">&quot;@drawable/social&quot;</span><span class="s0"> 
            </span><span class="s1">android:text=</span><span class="s2">&quot;PLAN NOW&quot;</span><span class="s0"> 
            </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;textStart&quot;</span><span class="s0"> 
            </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/buttonAllPlanNow&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawablePadding=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:drawableTint=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
            </span><span class="s1">android:gravity=</span><span class="s2">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
            </span><span class="s1">tools:ignore=</span><span class="s2">&quot;RtlCompat&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
            </span><span class="s0">&lt;Button 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
                </span><span class="s1">android:background=</span><span class="s2">&quot;@color/transparent&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_toRightOf=</span><span class="s2">&quot;@+id/buttonAllPlanNow&quot;</span><span class="s0"> 
                </span><span class="s1">android:drawableLeft=</span><span class="s2">&quot;@drawable/ribbon&quot;</span><span class="s0"> 
                </span><span class="s1">android:text=</span><span class="s2">&quot;VISITED&quot;</span><span class="s0"> 
                </span><span class="s1">android:drawableTint=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
                </span><span class="s1">android:textColor=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
                </span><span class="s1">android:textAlignment=</span><span class="s2">&quot;viewStart&quot;</span><span class="s0"> 
                </span><span class="s1">android:paddingLeft=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/buttonAllVisited&quot;</span><span class="s0"> 
                </span><span class="s1">android:drawablePadding=</span><span class="s2">&quot;10dp&quot;</span><span class="s0"> 
                </span><span class="s1">tools:ignore=</span><span class="s2">&quot;RtlCompat&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
 
        </span><span class="s0">&lt;android.support.v7.widget.CardView 
            </span><span class="s1">android:layout_width=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:elevation=</span><span class="s2">&quot;98dp&quot;</span><span class="s0"> 
            </span><span class="s1">card_view:cardCornerRadius=</span><span class="s2">&quot;20dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/viewFavorite&quot;</span><span class="s0"> 
            </span><span class="s1">android:innerRadius=</span><span class="s2">&quot;0dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:shape=</span><span class="s2">&quot;ring&quot;</span><span class="s0"> 
            </span><span class="s1">android:thicknessRatio=</span><span class="s2">&quot;1.9&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginRight=</span><span class="s2">&quot;15dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentRight=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_alignParentTop=</span><span class="s2">&quot;true&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;15dp&quot;</span><span class="s0"> 
            </span><span class="s1">android:layout_marginLeft=</span><span class="s2">&quot;10dp&quot;</span><span class="s0">&gt;</span><span class="s3"> 
            </span><span class="s0">&lt;ImageButton 
                </span><span class="s1">android:background=</span><span class="s2">&quot;@drawable/edit_profile_button&quot;</span><span class="s0"> 
                </span><span class="s1">android:backgroundTint=</span><span class="s2">&quot;@color/white&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_width=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:layout_height=</span><span class="s2">&quot;40dp&quot;</span><span class="s0"> 
                </span><span class="s1">android:src=</span><span class="s2">&quot;@drawable/favorite_heart_button&quot;</span><span class="s0"> 
                </span><span class="s1">android:tint=</span><span class="s2">&quot;@color/gray_color&quot;</span><span class="s0"> 
                </span><span class="s1">android:id=</span><span class="s2">&quot;@+id/imageButtonAllFavorite&quot;</span><span class="s0">/&gt;</span><span class="s3"> 
        </span><span class="s0">&lt;/android.support.v7.widget.CardView&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/RelativeLayout&gt;</span><span class="s3"> 
</span><span class="s0">&lt;/android.support.v7.widget.CardView&gt;</span><span class="s3"> 
    </span><span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>